.fundraise {
    border: solid 2px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafd;
}

.fundraise img {
    width: 80%;
    aspect-ratio: 1.6;
    object-fit: cover;
}

h2 {
    color: var(--text-color-sec);
    text-align: center;
}

p {
    color: var(--text-color-sec);
}

.donate button {
    padding: 0.8rem 1rem;
    border: solid 1px orange;
    font-size: 1.2rem;
}
